.App{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Options{
    display: grid;
    grid-template-columns:  18rem 18rem 18rem;
    grid-template-rows: 8rem ;
    gap: 1rem 2rem;
    width: 60rem;
    height: fit-content;
    padding: 2rem;
    background-color: #9BBEC8;
    justify-items: center;
    align-content: center;
}